In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('spark_consumer/output/detection_batch/part-00000-e0d6fc80-0b82-40ab-ab9d-d709201d786e-c000.csv')

In [3]:
data

,2025-03-24T22:55:31,0,7,0.01,142.03052,39.917397,162.10541,59.409325,Unnamed: 8,0.7312476,car,152.06796264648438,49.663360595703125,15206.79660454683,4966.3361705765765,15997.22344443667
0,2025-03-24T22:55:31,0,7,0.01,298.871200,144.169560,337.865260,201.623750,NaN,0.598052,bus,166.300262,123.233292,0.0,0.0,0.0
1,2025-03-24T22:55:31,0,7,0.01,113.051130,138.005400,159.844740,182.098970,NaN,0.576875,car,-181.920288,-12.844467,0.0,0.0,0.0
2,2025-03-24T22:55:31,0,7,0.01,201.528170,72.342995,225.555240,101.082790,NaN,0.539899,car,77.093765,-73.339294,0.0,0.0,0.0
3,2025-03-24T22:55:31,0,7,0.01,177.696230,38.594430,197.181460,55.696266,NaN,0.504837,car,-26.102859,-39.567543,0.0,0.0,0.0
4,2025-03-24T22:55:31,0,7,0.01,29.867374,223.276490,38.210140,241.876950,NaN,0.284763,person,-153.400085,185.431374,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,2025-03-24T22:55:54,179,9,22.65,197.490920,82.411950,223.028290,107.447890,NaN,0.605489,car,11.105865,-49.392624,0.0,0.0,0.0
1418,2025-03-24T22:55:54,179,9,22.65,209.006240,46.838190,227.886400,65.706810,NaN,0.703559,car,8.186707,-38.657417,0.0,0.0,0.0
1419,2025-03-24T22:55:54,179,9,22.65,233.082500,26.271873,249.772670,39.870766,NaN,0.633126,car,22.981262,-23.201180,0.0,0.0,0.0
1420,2025-03-24T22:55:54,179,9,22.65,205.864070,25.284689,222.128110,39.814793,NaN,0.296957,car,-27.431488,-0.521580,0.0,0.0,0.0
1421,2025-03-24T22:55:54,179,9,22.65,13.207035,249.199720,21.631609,268.667820,NaN,0.283666,person,-196.576771,226.384037,0.0,0.0,0.0